<head>
    <meta charset="utf-8">
    <title>рулетка</title>
    <link rel="stylesheet" href="/css/games.css"></link>
</head>

<body>
    <header>
        <div class="logo">
            <b>Contracts.com</b>
        </div>
        <div class="menuHead">
            <ul>
                <li><a href="/cabinet">Профiль</a></li>
                <li><a href="#">Поповнити</a></li>
                <li><a href="#">Вивести</a></li>
            </ul>
        </div>
        <a href="">
            <div class="regAuth">
                <center class="reg">
                    Вхід и регістрація
                </center>
            </div>
        </a>
    </header>
    <div class="nav">
    </div>
    <div class="content"></div>
    <div class="footer"></div>
    <div class="play">
        <form action="/play" method="post">
            <div class="input">
                <p><label for="bets"><font color="white" face="Lucida Sans Unicode">tickets</font></label></p>
                <input type="bets" id="bets" name="bets">
            </div>
            <p><button type="submit">Buy tickets</button></p>
        </form>

        <!-- давай логіку розглянемо -->

        <!-- Микола купує квиток -->
        <!-- Орест купує квиток -->
        <!-- хтмоиськ купив і тд -->
        <!--  -->
        <!--  -->
        <!-- Орест купує квиток -->
<!-- ви мене чуєте ?? пиши -->
        <!-- 2 квитки в базі -->
        <!-- 2 квитки в базі -->
        <!-- Замість ціїє сторінки я зробив це все автоматом  -->
        <!-- твій автомат працює фігово тому як він спрацьовує як тліьки двоє людей купили квиток, та й архітектура галіма, з автоматом річ кладніша тому я просив зробити сторінку, а потім це все автомазується  -->
        <!-- окей я зараз зроблю цю сторінку і напишу вам  -->
    <!-- Роман знає про секретну сторінку на яку він зайде і почнеться розіграш, він також знає скільки людей купили квиток -->
    <!-- Роман знає про секретну сторінку на яку він зайде і почнеться розіграш, він також знає скільки людей купили квиток -->
        <!--   тепер. коли роман зайшов на цю сторінку - відбувся розіграш. казино заробило свою комісію а орест виграв 90%  -->
        <!-- ну шо сказати? до дупи %) -->
        <!-- круто. потім ми в базу додамо ще розіграші,і ще. хоча байдеже покипапа
       -->
        <script>
          var y = "{{user}}";
           var r = {{id}};
            var a = {{number}};
            if (a == 1) {
                alert("Start game")
            } else if (a == 2) {
                function notifyMe(n,m) {
                    if (!("Notification" in window)) {
                        alert("This browser does not support desktop notification");
                    } else if (Notification.permission === "granted") {
                        var notification = new Notification("Yooh! Player with id"+""+n+" "+",username"+" "+m);
                    } else if (Notification.permission !== 'denied') {
                        Notification.requestPermission(function(permission) {
                            if (permission === "granted") {
                                var notification = new Notification("Yooh! Player with id"+""+n+" "+",username"+" "+m);
                            }
                        });
                    }

                }
                notifyMe(r,y);
                console.log(r)
            };
        </script>
        <!-- <script src="/socket.io-client/socket.io.js"></script>
        <script>
          var socket = io.connect('http://localhost:83');
          socket.on('news', function (data) {
            socket.emit('my other event', { my: 'data' });
          });
        </script> -->
</body>
