<main>
    <div class="fon photo-1"></div>
    <div class="title-1">
        <h1>Contracts.com</h2></div>
    <div class="img">
        <div class="title">
            <h1>Devs Team</h1></div>
    <div class="roma"><img src="/our/roma.png" alt="you" width="225" height="200" ;></div>
    <div class="text-1">
        <h2>Roman Vaseruk</h2></div>
    <div class="text-2">
        <p>
            <h3>With 13 years engaged cryptocurrency. I come learning programing in LITS.
                  In the future, a desire to finance and programming.</h3>
        </p>
    </div>
    <div class="mykola"><img src="/our/mykola.png" alt="you" width="225" height="200" ;></div>
    <div class="text-3">
        <h2>Mykola Tymchak</h2>
    </div>
    <div class="text-4">
        <h3>Frontend developer. Freelancer. Start frilanced since 7th grade, worked with web studio.
                      Agreed to be our mentor.</h3>
    </div>
    <!-- <div class="daniel"><img src="/our/daniel.png" alt="you" width="225" height="200" ;></div>
    <div class="text-5">
        <h2>Daniel Lensky</h2>
    </div>
    <div class="text-6">
        <h3>A student at the Lits, enjoys robotics. He has a desire to make software for drones.</h3>
    </div> -->
    <div class="sviatoslav"><img src="/our/sviatoslav.png" alt="you" width="225" height="225" ;></div>
    <div class="text-7">
        <h2>Svjatoslav Yaremko</h3>
        </div>
        <div class="text-8">
            <h3>Student at school, wants to become a programmer.
            Programming intrigued him so he wants in the future to make good sites.</h3>
        </div>
    </div>
    <div class="footer">
        <div class="twiter"><img src="/footer/twitter.png" alt="you" width="54" height="60" ;></div>
        <div class="twitter-1">
            <a href="https://twitter.com/vaseruk_roman"><h2>Twiter</h2></a>
    </div>
    <div class="facebook"><img src="/footer/facebook.png" alt="you" width="54" height="60" ;></div>
    <div class="facebook-1">
        <a href="https://www.facebook.com/profile.php?id=100012728058499&fref=ts"><h2>Facebook</h2></a></div>
    <div class="vk"><img src="/footer/vk.png" alt="you" width="54" height="60" ;></div>
    <div class="vk-1">
        <a href="https://vk.com/id265989669"><h2>Vkontakte</h2></a></div>
    <div class="footer-1">
        <h1>Contact</h1></div>
    <div class="gmail-logo">
        <img src="/footer/Gmail.png" alt="you" width="54" height="60" ;></div>
    <div class="gmail">
        <h2>roman.vaseruk@gmail.com</h2></div>
    <div class="gmail-1">
        <h2>yeremko0422@gmail.com</h2></div>
    <div class="steemit">
        <img src="/footer/steem_coin.png" alt="you" width="54" height="60" ;>
        <div class="steemit-1">
            <a href="https://steemit.com/@rolik"><h2>Steemit</h2></a></div>
    </div>
    </div>
    <div class=site>
        <div class="title-site">
            <h1>About Web Site</h1></div>
        <div class="text-site">
            <h3>This is the most honest in the lottery etereum.

Our commission rate of only 2%.
To be admitted to the account should be 1 Confirmation Network.

You can also earn ETH, inviting people to the website! In looking for is we are in
beta testing in the future, the winner will be selected by the contract for ethereum</h3></div>
    </div>
</main>
<footer>
    <h3>©Contracts,Inc.2016-Lviv,UKR</h3>
</footer>

<main>
    <div class="login-1">
        <form action="/login" method="post">
            <div class="input">

                <p><label for="login"><font color="white" face="Lucida Sans Unicode">Nickname</font></label></p>
                <input type="login" id="login" name="login">
            </div>
            <div class="input">

                <label for="password"><font color="white" face="Lucida Sans Unicode">Password</font></label></p>
                <input type="password" id="password" name="password">
            </div>
            <p><button type="submit">Sign in</button></p>
        </form>
    <div class="or">
        <p>
            <color="white">or</p>
    </div>
    <div class="sign">
        <form action="/sign" method="post">
            <p><button type="submit">Sign up</button></p>
            </div>
        </form>
  </div>
</main>
<!-- <script src="/socket.io-client/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:83');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script> -->
