<head>
    <meta charset="utf-8">
    <title>рулетка</title>
    <link rel="stylesheet" href="/css/games.css"></link>
</head>
<style>
.tickets{
  position: absolute;
  top: 10%;
  left: 2.5%;
  color: white;
}
.tickets-1{
  position: absolute;
  top: 10%;
  left: 11.5%;
  color: #00FF00;
  font-family: "Times New Roman", Times, serif;
  font-size: 175%;}
</style>
<body>
  <form action="/lol" method="post">


            <p><button type="submit">Buy tickets</button></p>
        </form>
        <div class="tickets">
            <h1>Tickets:</h1></div>
        <div class="tickets-1">
            <p>{{tickets}}</p>
        </div>
</body>
