<head>
    <meta charset="utf-8">
    <title>рулетка</title>
    <link rel="stylesheet" href="/css/games.css"></link>
</head>

<body>
  <form action="/lol" method="post">


            <p><button type="submit">Buy tickets</button></p>
        </form>

        <!-- давай логіку розглянемо -->

        <!-- Микола купує квиток -->
        <!-- Орест купує квиток -->
        <!-- хтмоиськ купив і тд -->
        <!--  -->
        <!--  -->
        <!-- Орест купує квиток -->
<!-- ви мене чуєте ?? пиши -->
        <!-- 2 квитки в базі -->
        <!-- 2 квитки в базі -->
        <!-- Замість ціїє сторінки я зробив це все автоматом  -->
        <!-- твій автомат працює фігово тому як він спрацьовує як тліьки двоє людей купили квиток, та й архітектура галіма, з автоматом річ кладніша тому я просив зробити сторінку, а потім це все автомазується  -->
        <!-- окей я зараз зроблю цю сторінку і напишу вам  -->
    <!-- Роман знає про секретну сторінку на яку він зайде і почнеться розіграш, він також знає скільки людей купили квиток -->
    <!-- Роман знає про секретну сторінку на яку він зайде і почнеться розіграш, він також знає скільки людей купили квиток -->
        <!--   тепер. коли роман зайшов на цю сторінку - відбувся розіграш. казино заробило свою комісію а орест виграв 90%  -->
        <!-- ну шо сказати? до дупи %) -->
        <!-- круто. потім ми в базу додамо ще розіграші,і ще. хоча байдеже покипапа
       -->
        <script>
        // овото вже байда скрипт генерувати в шаблоні


            var a = {{number}};
            if (a == 1) {
                alert("Start game")
            } else if (a == 2) {
                function notifyMe(n) {
                    if (!("Notification" in window)) {
                        alert("This browser does not support desktop notification");
                    } else if (Notification.permission === "granted") {
                        var notification = n;
                    } else if (Notification.permission !== 'denied') {
                        Notification.requestPermission(function(permission) {
                            if (permission === "granted") {
                                var notification = n;
                            }

                        });
                    }

                }notifyMe(100);
            };
        </script>
</body>
