<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <title>
        Contracts.com
    </title>
    <link rel="stylesheet" href="/css/signup.css"></link>
</head>
<main>
    <div class="fon photo-1"></div>
    <div class="register">
        <h1>Register</h2></div>
  <form action="/register" method="post">
    <div class="input">
        <p><label for="email"><font color="white" face="Lucida Sans Unicode">Email</font></label></p>
        <input type="email" id="email" name="email">
    </div>
    <div class="input">
        <p><label for="login"><font color="white" face="Lucida Sans Unicode">Nickname</font></label></p>
        <input type="login" id="login" name="login">
    </div>
    <div class="input">
        <p><label for="password"><font color="white" face="Lucida Sans Unicode">Password</font></label></p>
        <input type="password" id="password" name="password">
    </div>
    <div class="input">
      <p><label for="password"><font color="white" face="Lucida Sans Unicode">Confirm password</font></label></p>
      <input type="password" id="password2" name="password2">
      <div class=check>
  </div>
    <p><button type="submit">Register</button></p>
</form>
</main>
