body{
  background-image: url(/fon.png);
  background-attachment: fixed;

  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  float: left;
  height: 60px;
  margin: 0px auto;
  background: rgba(21, 96, 148,.7);
}
div.logo {
  width: 205px;
  float: left;

  color: white;
  font-size: 32px;
  font-family: Times New Roman, sans-serif;
  margin-top: 6px;
  margin-left: 8px;
}
div.regAuth{
  color: white;
  padding: 5px;
  display: block;
  height: 50px;
  width: 150px;
  float: right;
  margin-top: -11px;
}
center.reg {
    margin-top: 21px;
}
div.regAuth:hover{
  color: red;
}
div.menuHead
  ul {
margin-left: 20px
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  padding-top: 8px;
  height: 25px;
  display: block;
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}
li {
  color: white;
  font-family: 'airborne',Arial,sans-serif;
  margin-top: 12px;
  float:left;
  margin-right:16px;
}
@font-face {
    font-family: airborne;
    src: url(fonts/airborne.ttf);
   }
