body, html, main {
    height: 100%;
    margin: 0;
}

body {}

.fon {
    background-size: 100% 100%;
}

.fon.photo-1 {
    background-image: url("/fon.png");
    background-attachment: fixed;
    min-height: 395.5%;
}

.title-1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    position: absolute;
    left: 32.5%;
    top: 10%;
    color: white;
}

.img {
    position: absolute;
    left: 42.5%;
    top: 110%;
}

.title {
    position: absolute;
    top: -30%;
    left: 15%;
    color: white;
}

.roma {}

.text-1 {
    color: white;
    position: absolute;
    left: 15.5%;
}

.text-2 {
    position: absolute;
    top: 120%;
    left: -65%;
    right: -80%;
    color: white;
}

.mykola {
    position: absolute;
    top: 160%;
    left: -2%;
}

.text-3 {
    position: absolute;
    top: 260%;
    left: 3%;
    color: white;
}

.text-4 {
    position: absolute;
    top: 280%;
    left: -65%;
    right: -80%;
    color: white;
}

.sviatoslav {
    position: absolute;
    top: 340%;
    left: -2%;
}

.text-7 {
    position: absolute;
    top: 450%;
    left: 3%;
    right:3%;
    color: white;
}

.text-8 {
    position: absolute;
    top: 470%;
    left: -65%;
    right: -80%;
    color: white
}



.site {
    position: absolute;
    top: 290%;
    left:42.5%;
    color: white;
}
.text-site{
  position: absolute;
  left: -200%;
  right:-200%;
}

.footer {
}

.twiter {
    position: absolute;
    top: 355%;
    left: 5%;
}

.twitter-1 {
    position: absolute;
    top: 355%;
    left: 10%;
}

.facebook {
    position: absolute;
    top: 365%;
    left: 5%;
}

.facebook-1 {
    position: absolute;
    top: 365%;
    left: 10%;
}

.vk {
    position: absolute;
    top: 375%;
    left: 5%;
}

.vk-1 {
    position: absolute;
    top: 375%;
    left: 10%;
}

.footer-1 {
    position: absolute;
    top: 335%;
    left: 45%;
    color: white;
}

.gmail-logo {
    position: absolute;
    top: 355%;
    left: 65%;
}

.gmail {
    position: absolute;
    top: 357.5%;
    left: 70%;
    color: white;
}

.gmail-1 {
    position: absolute;
    top: 352.5%;
    left: 70%;
    color: white;
}

.steemit {
    position: absolute;
    top: 365%;
    left: 65%;
}

.steemit-1 {
    position: absolute;
    top: -5%;
    left: 145%;
}

footer {
    position: absolute;
    top: 385.5%;
    left: 70%;
    color: white;
}

p {
    color: white;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

.login-1 {
    position: absolute;
    top: 37%;
    left: 44.5%;
}

.or {
    position: absolute;
    top: 73.5%;
    left: 42%;
}

.sign {
    position: absolute;
    top: 72.75%;
    left: 59.5%;
    right:-10%;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width:490px) and (max-width:980px) {
    body, html, main {
        height: 100%;
        margin: 0;
        margin-left: 0;
    }
    body {}
    .fon {
        background-size: 100% 100%;
    }
    .fon.photo-1 {
        background-image: url("/fon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 330%;
    }
    .title-1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
        position: absolute;
        left: 17.5%;
        top: 10%;
        color: white;
    }
    .img {
        position: absolute;
        left: 35%;
        top: 110%;
    }
    .title {
        position: absolute;
        top: -40%;
        left: 13%;
        color: white;
    }
    .roma {}
    .text-1 {
        color: white;
        position: absolute;
        left: 10.5%;
        right: -1%;
    }
    .text-2 {
        position: absolute;
        top: 120%;
        left: -45%;
        right: -60%;
        color: white;
    }
    .mykola {
        position: absolute;
        top: 200%;
        left: -2%;
    }
    .text-3 {
        position: absolute;
        top: 310%;
        left: 3%;
        color: white;
    }
    .text-4 {
        position: absolute;
        top: 330%;
        left: -45%;
        right: -60%;
        color: white;
    }
    .sviatoslav {
        position: absolute;
        top: 410%;
        left: -2%;

    }
    .text-7 {
        position: absolute;
        top: 520%;
        left: -9%;
        right: -13%;
        color: white;
    }
    .text-8 {
        position: absolute;
        top: 550%;
        left: -45%;
        right: -60%;
        color: white
    }
    .site {
      position: absolute;
      top: 230%;
        left:35%;
        color: white;
    }
    .text-site{
      position: absolute;
      left: -60%;
      right:-40%;
    }
    .footer {}
    .twiter {
        position: absolute;
        top: 273.5%;
        left: 5%;
    }
    .twitter-1 {
        position: absolute;
        top: 272.5%;
        left: 20%;
    }
    .facebook {
        position: absolute;
        top: 279.5%;
        left: 5%;
    }
    .facebook-1 {
        position: absolute;
        top: 278.5%;
        left: 20%;
    }
    .vk {
        position: absolute;
        top: 285.5%;
        left: 5%;
    }
    .vk-1 {
        position: absolute;
        top: 284.5%;
        left: 20%;
    }
    .footer-1 {
        position: absolute;
        top: 265%;
        left: 42.5%;
        color: white;
    }
    .gmail-logo {
        position: absolute;
        top: 292%;
        left: 5%;
    }
    .gmail {
        position: absolute;
        top: 289.5%;
        left: 20%;
        color: white;
    }
    .gmail-1 {
        position: absolute;
        top: 291.5%;
        left: 20%;
        color: white;
    }
    .steemit {
        position: absolute;
        top: 299%;
        left: 5%;
    }
    .steemit-1 {
        position: absolute;
        top:-18%;
        left: 192.5%;
    }
    footer {
        position: absolute;
        top: 305%;
        left: 35%;
        color: white;
    }
    p {
        color: white;
    }
    img {
        border-radius: 50%;
    }
    .login-1 {
        position: absolute;
        top: 37%;
        left: 35.5%;
        font-size: 250%;
    }
    .or {
        position: absolute;
        top: 76.5%;
        left: 32.5%;
        font-size:75%;
    }
    .sign {
        position: absolute;
        top: 71%;
        left: 54%;
    }
    a {
        color: white;
        text-decoration: none;
    }
}
