    body,
    html,
    main {
        height: 100%;
        margin:0;
    }

    body {}

    .fon {
        min-height: 1000%;
        background-size: 100% 100%;
    }

    .fon.photo-1 {
        background-image: url("/fon.png");
        background-attachment: fixed;
        min-height: 100%;
        ;
    }

    .register {
        font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
        position: absolute;
        left: 43.5%;
        top: 5%;
        color: white;
    }
    form{
      position: absolute;
      left: 43.5%;
      top: 20%;
    }
    @media screen and (min-width:480px) and (max-width:980px){
      body,
      html,
      main {
          height: 100%;
      }

      body {}

      .fon {
          min-height: 1000%;
          background-size: 100% 100%;
      }

      .fon.photo-1 {
          background-image: url("/login1.jpg");
          background-attachment: fixed;
          min-height: 100%;
          ;
      }

      .register {
          font-family: 'Times New Roman', Times, serif;
          font-size: 250%;
          position: absolute;
          left: 27.5%;
          top: 5%;
          color: white;
      }
      form{
        position: absolute;
        left: 37.5%;
        top: 20%;
        font-size: 150%;
    }}
